body {
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
  background-color: #051F24; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.mainContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative; }

.menuOuterContainer {
  width: 600px;
  height: 530px;
  position: relative;
  margin: 30px auto; }
  .menuOuterContainer .menuBevel {
    width: 600px;
    height: 530px;
    background-color: #23434C;
    position: relative;
    top: -500px;
    border-radius: 20px;
    z-index: 99; }

.menuContainer {
  width: 600px;
  height: 500px;
  background-color: #407B8C;
  position: relative;
  z-index: 100;
  border-radius: 20px; }
  .menuContainer .menuContent {
    margin: 20px;
    position: relative;
    top: 20px; }
    .menuContainer .menuContent h1 {
      text-align: center;
      color: #fff;
      font-size: 40px;
      position: relative;
      display: block; }
    .menuContainer .menuContent h2 {
      text-align: center;
      color: #fff;
      font-size: 30px;
      margin-bottom: 5px;
      position: relative;
      display: block; }
    .menuContainer .menuContent button {
      border: none;
      height: 70px;
      font-family: "Francois One";
      font-size: 40px;
      border-bottom: 10px;
      float: left;
      position: relative; }
    .menuContainer .menuContent button:active {
      border-bottom: 4px;
      top: 6px;
      height: 66px; }
    .menuContainer .menuContent .sizeSelector {
      margin: 0 auto;
      width: 310px;
      height: 80px; }
      .menuContainer .menuContent .sizeSelector button {
        width: 70px;
        background-color: #2ACCA6;
        border-bottom: 10px solid #104C3E;
        color: #104C3E; }
      .menuContainer .menuContent .sizeSelector button:active {
        border-bottom: 4px solid #104C3E; }
      .menuContainer .menuContent .sizeSelector span {
        border: none;
        height: 60px;
        width: 130px;
        margin: 0 20px;
        font-family: "Francois One";
        font-size: 40px;
        background-color: #2ACCA6;
        border-bottom: 10px solid #104C3E;
        color: #104C3E;
        display: block;
        float: left;
        text-align: center; }
    .menuContainer .menuContent .menuNavigation {
      position: relative;
      margin: 10px auto;
      width: 310px; }
      .menuContainer .menuContent .menuNavigation button {
        width: 310px;
        background-color: #2ACCA6;
        border-bottom: 10px solid #104C3E;
        color: #104C3E;
        margin-bottom: 10px; }
      .menuContainer .menuContent .menuNavigation button:active {
        border-bottom: 4px solid #104C3E;
        margin-bottom: 14px; }
      .menuContainer .menuContent .menuNavigation button.solo {
        background-color: #FDFD52;
        border-bottom: 10px solid #818131;
        color: #5A5A25; }
      .menuContainer .menuContent .menuNavigation button.solo:active {
        border-bottom: 4px solid #818131; }
      .menuContainer .menuContent .menuNavigation button.versus {
        background-color: #CC372A;
        border-bottom: 10px solid #691F19;
        color: #5F130D; }
      .menuContainer .menuContent .menuNavigation button.versus:active {
        border-bottom: 4px solid #691F19; }

.tile {
  float: left;
  margin: 5px;
  height: 50px; }
  .tile .face {
    width: 60px;
    height: 55px;
    background-color: #BDCCBC;
    z-index: 10;
    position: relative;
    color: white;
    font-size: 33px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px; }
    .tile .face span {
      top: 9px;
      position: relative; }
  .tile .base {
    width: 60px;
    height: 55px;
    position: relative;
    display: block;
    background-color: #828C81;
    z-index: 9;
    top: -50px;
    border-radius: 10px; }
  .tile.consonant .face {
    background-color: #FF6250; }
  .tile.consonant .base {
    background-color: #BF493C; }
  .tile.vowel .face {
    background-color: #509BFF; }
  .tile.vowel .base {
    background-color: #3C74BF; }
  .tile.word .face {
    background-color: #B0CC3E; }
  .tile.word .base {
    background-color: #798C2B; }

.row {
  height: 60px;
  margin-bottom: 10px;
  float: none; }
